{% load static %}
<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>TAE</h3>
            <p>
              United Arab Emirates<br>
              <strong>Phone:</strong> +971 502 896 434<br>
              <strong>Email:</strong> tza.uae@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://u.ae/en/about-the-uae/">About UAE</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.tanzania.go.tz/">About Tanzania</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="becomeMember">Member</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Leadership">Leadership</a></li>
            </ul>
          </div>

         
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
              <a href="#" class="twitter"><i class="bx bxl-whatsapp"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-telegram"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>TAE</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/company-free-html-bootstrap-template/ -->
          Designed by <a href="/">Blocks solutions</a>
        </div>
      </div>
     
    </div>
  </footer><!-- End Footer -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
