{% load static %}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      {% comment %} <h1 class="logo me-auto"><a href="/"><span>T</span>AE</a></h1> {% endcomment %}
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="/" class="logo me-auto "><img  src="{%static '/front_assets/img/logo.png'%}"  alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="/" >Home</a></li>
          {% comment %} <li class="dropdown "><a href="#" class="active"><span>Next election</span> <i class="bi bi-chevron-right"></i></a>
            <ul>
              <li><a href="AboutElection">About election</a></li>
              <li><a href="ObtainPassword">Apply For Position</a></li>
              <li><a href="ObtainCode">Apply For Election Committee</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Log a complain</span> <i class="bi bi-chevron-right"></i></a>
            <ul>
              <li><a href="ComplainOne">About Agent</a></li>
              <li><a href="ComplainTwo">About Employer</a></li>
              
            
            </ul>
          </li> {% endcomment %}
        {% comment %}
              <li class="dropdown"><a href="#"><span>Sports</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/">Football</a></li>
                  <li><a href="/">Basketball</a></li>
                  <li><a href="/">Swimming</a></li>
                  <li><a href="/">Tennis</a></li>
                  <li><a href="/">Other</a></li>
                </ul>
              </li>
            </li>
          <li class="dropdown"><a href="#"><span>News and Events</span> <i class="bi bi-chevron-right"></i></a>
            <ul>
              <li><a href="/">News</a></li>
              <li><a href="/">Iftar gathering</a></li>
             
              <li><a href="/">Members meeting</a></li>
          
            </ul>
          </li>
       
             
              <li><a href="/">Register your business</a></li>
              <li class="dropdown"><a href="#"><span>UAE</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="https://u.ae/en/about-the-uae/" target="_blank">About UAE</a></li>
                  <li><a href="/">Visit UAE</a></li>
                  <li><a href="/">Jobs in UAE</a></li>
                
                </ul>
              </li>
              <li><a href="ComplainOne">Communication</a></li>
              <li><a href="/">Your feedback</a></li>
            </ul>
          </li>{% endcomment %}
          {% comment %} <li><a href="/Leadership">Leadership</a></li>
          <li class="dropdown"><a href="#"><span>Membership</span> <i class="bi bi-chevron-right"></i></a>
            <ul>
                  <li><a href="/AboutMember">About membership</a></li>
                  <li><a href="becomeMember">Become a member</a></li>
                  <li><a href="ObtainMemberID">Obtain TAE Member ID</a></li>
                  {% comment %} <li><a href="ObtainPassword">Obtain credentials</a></li> {% endcomment %}
          </ul> {% endcomment %}
        </li>
          {% comment %} <li><a href="/">Contact</a></li> {% endcomment %}
          {% if user.is_authenticated %}
              {% comment %} Hi {{ user.username }}! {% endcomment %}
              <li><a href="/dashboard">Console</a></li>
              <li><a href="{% url 'logout' %}">Sign out</a></li>
            
          {% else %}
          <li><a href="{% url 'login' %}">Sign in</a></li>
          {% endif %}
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex">
        <a href="/" class="twitter"><i class="bu bi-whatsapp"></i></a>
        <a href="/" class="facebook"><i class="bu bi-facebook"></i></a>
        <a href="/" class="facebook"><i class="bu bi-telegram"></i></a>
        <a href="/" class="instagram"><i class="bu bi-instagram"></i></a>
        {% comment %} <a href="/" class="linkedin"><i class="bu bi-linkedin"></i></i></a> {% endcomment %}
      </div>

    </div>
  </header><!-- End Header -->
