{% load static %}

 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center" style="background-color: #5e5e5e;">
  {% for content in FrontContents %}
  {% if forloop.counter0 == 0 %}
  <div class="container" >
        <div class="row animate__animated animate__fadeInUp">
            <div class="col-lg-6 d-flex text-light animate__animated animate__fadeInUp flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
                <h1>{{content.Title}}</h1>
                <p>{{content.Description1}}</p>
                <div class="d-flex justify-content-center justify-content-lg-start">
                  <div class="text-center"><a href="AboutElection" class="btn btn-light">Pata maelezo zaid</a></div>

                </div>
            </div>
            <div class="col-lg-6 order-1 animate__animated animate__fadeInUp order-lg-2 hero-img">
                <img src="{{content.Photo.url}}"
                     class="img-fluid animated"
                     alt="" />
            </div>
      {% comment %} <div class="row animate__animated animate__fadeInUp">
        <div class="col-6 justify-content-center flex">
          <img src=" {{content.Photo.url}}" /> 
          </div
          <div class="col-6">
            <div class="carousel-content ">
        
              <h2>{{content.Title}}</h2>
              <p>{{content.Description1}}</p>
              <div class="text-center"><a href="ApplyForElection" class="btn-get-started">Apply Now</a></div>
            </div>
            </div
        </div
     
  
    </div> {% endcomment %}
  </div>
  {% else %}
  <div class="carousel-item" style="background-image: url({{content.Photo.url}} );">
    <div class="carousel-container">
      <div class="carousel-content animate__animated animate__fadeInUp">
        <h2>{{content.Title}}</h2>
        <p>{{content.Description1}}</p>
        <div class="text-center"><a href="ApplyForElection" class="btn-get-started">Apply Now</a></div>
      </div>
    </div>
  </div>
  {% endif %}
 
  {% endfor %}
  </section><!-- End Hero -->
