{% load static %}

 <!-- ======= Hero Section ======= -->
 <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(/static/front_assets/img/slide/slide2.jpeg );">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>TANZANIA ASSOCIATION  <span>IN EMIRATES</span></h2>
              <p>The Tanzanian Community in the United Arab Emirates also known as TCAE is a SOCIAL AND CULTURAL ASSOSICIATION which is non-political and non-profit Association.</p>
              <div class="text-center"><a href="" class="btn-get-started">Read More</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(/static/front_assets/img/slide/slide3.jpeg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>TANZANIA ASSOCIATION  <span>IN EMIRATES</span></h2>
              <p>Jumuiya ya Watanzania wanaoishi Emirates (JUWATA) ni chombo ambacho si cha kisiasa wala si cha biashara.</p>
              <div class="text-center"><a href="" class="btn-get-started">Read More</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(/static/front_assets/img/slide/slide1.jpeg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2>TANZANIA ASSOCIATION  <span>IN EMIRATES</span></h2>
              <p>Jumuiya ya Watanzania wanaoishi Emirates (JUWATA) ni chombo ambacho si cha kisiasa wala si cha biashara</p>
              <div class="text-center"><a href="" class="btn-get-started">Read More</a></div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->
