{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Update Election Applicant</h4>
          <div class="ml-auto text-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                 Edit  Election Applicant
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      {% include 'TAEApp/includes/messages.html' %}
    
        
      <form method="POST" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="border-top">
          <div class="card-body">
            <button type="submit" class="btn btn-info">Save</button>
            <a href="{% url 'ElectionApplicant' %}" type="submit" class="btn btn-danger">Cancel</a>
          </div>
      </div>

      <div class="row">
        <div class="col-md-6">
      <div class="card">
          <div class="card-body">
          
              {% comment %} <h4 class="card-title">Edit ElectionApplicant</h4> {% endcomment %}

              <div class="form-group row">
                <label  class="col-sm-3 text-right control-label col-form-label">TAE Code</label>
                <div class="col-sm-9">
                  {% render_field form.TAENumber placeholder="TAE Code" class+="form-control" id+="seeAnotherField" %}
                </div>
            </div>
           
              <div class="form-group row">
                  <label  class="col-sm-3 text-right control-label col-form-label">First Name</label>
                  <div class="col-sm-9">
                    {% render_field form.FirstName placeholder=form.FirstName.label class+="form-control"  %}
                  </div>
              </div>
              <div class="form-group row">
                <label  class="col-sm-3 text-right control-label col-form-label">Middle Name</label>
                <div class="col-sm-9">
                  {% render_field form.MiddleName placeholder=form.MiddleName.label class+="form-control"  %}
                </div>
            </div>
            <div class="form-group row">
              <label  class="col-sm-3 text-right control-label col-form-label">Last Name</label>
              <div class="col-sm-9">
                {% render_field form.LastName placeholder=form.LastName.label class+="form-control"  %}
              </div>
          </div>
             
              <div class="form-group row">
                <label  class="col-sm-3 text-right control-label col-form-label">Emirate </label>
                <div class="col-sm-9">
                  {% render_field form.Emirate placeholder="Emirate" class+="form-control" id+="seeAnotherField" %}
                </div>
            </div>
     <div class="form-group row">
              <label  class="col-sm-3 text-right control-label col-form-label">Emirate ID</label>
              <div class="col-sm-9">
                {% render_field form.EmirateID placeholder="Emirate ID" class+="form-control"  %}
              </div>
          </div>

          <div class="form-group row">
            <label  class="col-sm-3 text-right control-label col-form-label">VisaType</label>
            <div class="col-sm-9">
              {% render_field form.VisaType placeholder="Visa Type" class+="form-control"  %}
            </div>
        </div>

        <div class="form-group row">
          <label  class="col-sm-3 text-right control-label col-form-label">Education</label>
          <div class="col-sm-9">
            {% render_field form.Education placeholder="Education" class+="form-control"  %}
          </div>
      </div>

      <div class="form-group row">
        <label  class="col-sm-3 text-right control-label col-form-label">Employment Status</label>
        <div class="col-sm-9">
          {% render_field form.EmploymentStatus placeholder="Employment Status" class+="form-control"  %}
        </div>
    </div>
      <div class="form-group row">
        <label  class="col-sm-3 text-right control-label col-form-label">Position</label>
        <div class="col-sm-9">
          {% render_field form.Position placeholder="Position" class+="form-control"  %}
        </div>
    </div>

   
          </div>
        </div>
      </div>

   

            </div>
          </div>
        </div>
    </div>
      </form>
        

    
    </div>
    {% include 'TAEApp/includes/footer.html' %}
  </div>
{% endblock content %}
    
    


