{% extends 'front_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>About Election</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>About Election</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->
 
  <section id="contact" class="contact">
    <div class="container">

      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="col-lg-10">
          <h3> Elections </h3>
      <p> Currently the association is run by the interim leaders who will end their office term by 3rd of September 2022. All valid members are encouraging to participate in general election meeting on 3rd of September, in Dubai, venue will be announced before the election day.
      </p>
      <p>Any Active member of the Association who comply with CDA and TAE constitution shall have the right to elect an Executive member of the Committee or the office bearers and to remove such members, or office bearers.</p>
      <p>Registered association members who are interested to fill the twenty positions are to fill the online form and apply for the position interested before 15 of August 2022 to allow the election committee members to fill filter and announce the qualified candidates to fill the leadership positions.</p>
      <p>Any Active member of the Association shall have the right to elect an Executive member of the Committee or the office bearers and to remove such members, or office bearers as stipulated in Article (III).</p>
     
        <dl>
        <dt> The General Assembly shall perform the following functions:-</dt>
        <dd>
          <ol>
            <li>Elect the Chairman by secret ballot. </li>
            <li>Elect Vice-Chairman by secret ballot.</li>
            <li>Elect the Secretary –General by secret ballot.</li>
            <li>Elect the Deputy Secretary –General by secret ballot</li>
            <li>Elect the  Treasurer by secret ballot</li>
            <li>Elect the Deputy Treasurer by secret ballot </li>
            <li>Elect four members to the Executive Committee of the Association that will be other than the leaders elected under sub paragraph number (i-vi) above.
            </li>
            <li>Elect head of homeland investment leader  </li>
            <li>Decide on the entry fees to become members as well as fix annual membership fee for each member.  </li>
            <li>Receive and discuss the annual reports the Association submitted by the Executive Committee to General Assembly and approve it accordingly.
            </li>
            <li>Receive, discuss and approve the financial reports of the Association regarding revenues and expenditures of the Association for every year. 
            </li>
            <li>Receive, discuss and approve the annual budget of the Association as presented by the Budget Committee. 
            </li>
            <li>Form four standing committees of the of the Association namely:-
              <ul>
                <li>Education, Cultural and Social Welfare Committee </li>
                <li>Budget and Finance Committee</li>
                <li>Publicity Committee</li>
                <li>Homeland investment committee
                </li>
              </ul>
            </li>
            
          </ol> 
        </dd>
       
      </dl>
      
      <p>Each of the standing Committee shall be composed of the members of the Association not exceeding 4 in number. Each Committee shall elect its own Chairman. 
      </p>
      <dl>
        <dt>Term of each committee shall be two years</dt>
        <dd>
          Meetings of the standing committees shall be convened by the chairman of each committee.
        </dd>
       
      </dl>
      <p>Please apply for the position interested. <a href="ApplyForElection">Click here</a></p>

      <h3>Election qualifications</h3>
        <ol>
          <li>
            <dl>
              <dt>The Chairman</dt>
              <dd>
                Bachelor degree any field or, two years or higher resident of UAE, over 30 years of age
              </dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>The Vice-Chairman</dt>
              <dd>
                Bachelor degree any field or, two years or higher resident of UAE, over 25 years of age
              </dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt> The Secretary </dt>
              <dd>
                Bachelor degree any field or, two years or higher resident of UAE, over 30 years of age
               </dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>The Deputy Secretary</dt>
              <dd>
                Bachelor degree any field or, two years or higher resident of UAE, over 25 years of age
                </dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>The  Treasurer</dt>
              <dd>
                Bachelor degree any field or, two years or higher resident of UAE, over 30 years of age
                </dd>
             
            </dl>
          </li>
          <li>
            <dl>
              <dt>The Deputy Treasurer</dt>
              <dd>
                Bachelor degree any field or, two years or higher resident of UAE, over 25 years of age
              </dd>
            </dl>
          </li>
        </ol> 
        <dl>
          <dt>Four standing committees of the of the Association namely:-
          </dt>
          <dd>
            Bachelor degree any field or, two years or higher resident of UAE, over 20 years of age
            <ul>
              <li>Education, Cultural and Social Welfare Committee </li>
              <li>Budget and Finance Committee</li>
              <li>Publicity Committee</li>
              <li>Homeland investment committee
              </li>
            </ul>
          </dd>
        </dl>      
    </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock content %}
