{% extends 'front_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>About Election</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>About Election</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->
 
  <section id="contact" class="contact">
    <div class="container">

      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="col-lg-10">
          <h3>About Election </h3>
      <p> Currently the association is run by the interim leaders who will end their office term by 3rd of September 2022. All valid members are encouraging to participate in general election meeting on 3rd of September, in Dubai, venue will be announced before the election day.
      </p>
      <p>Any Active member of the Association who comply with CDA and TAE constitution 
        shall have the right to elect an Executive member of the Committee or the office
         bearers and to remove such members, or office bearers.</p>
      <p>Registered association members who are interested to fill the ten positions
         are to fill the online form and apply for the position interested on or before 30-07-2022
          to allow the election committee members to filter and announce
           the qualified candidates.</p>
      <p>Any Active member of the Association shall have the right to elect an Executive
         member of the Committee or the office bearers, who will be in power for three years.</p>
     
        <dl>
        <dt> The General Assembly shall perform the following functions:-</dt>
        <dd>
          <ol>
            <li>Elect the Chairman by secret ballot. </li>
            <li>Elect Vice-Chairman by secret ballot.</li>
            <li>Elect the Secretary –General by secret ballot.</li>
            <li>Elect the Deputy Secretary –General by secret ballot</li>
            <li>Elect the  Treasurer by secret ballot</li>
            <li>Elect the Deputy Treasurer by secret ballot </li>
            <li>Elect four heads of the Executive Committee of the Association as listed below:-
              <ul>
                <li>Education, Cultural and Social Welfare Committee </li>
                <li>Finance and Planning Committee</li>
                <li>Publicity and Communication Committee</li>
                <li>Investment Committee
                </li>
              </ul>
            </li>
            {% comment %} <li>Elect head of homeland investment leader  </li>
            <li>Decide on the entry fees to become members as well as fix annual membership fee for each member.  </li>
            <li>Receive and discuss the annual reports the Association submitted by the Executive Committee to General Assembly and approve it accordingly.
            </li>
            <li>Receive, discuss and approve the financial reports of the Association regarding revenues and expenditures of the Association for every year. 
            </li>
            <li>Receive, discuss and approve the annual budget of the Association as presented by the Budget Committee. 
            </li> {% endcomment %}
            {% comment %} <li>Form four standing committees of the Association namely:-
              <ul>
                <li>Education, Cultural and Social Welfare Committee </li>
                <li>Budget and Finance Committee</li>
                <li>Publicity Committee</li>
                <li>Homeland investment committee
                </li>
              </ul>
            </li> {% endcomment %}
            
          </ol> 
        </dd>
       
      </dl>
      
      <p>The Heads of standing Committee will decide the numbers of the required committees.
      </p>
      {% comment %} <dl>
        <dt>Terms of each committee shall be two years</dt>
        <dd>
          Meetings of the standing committees shall be convened by the chairman of each committee.
        </dd>
       
      </dl> {% endcomment %}
      <p>Please apply for the position interested. <a href="ObtainPassword">Click here</a></p>

      <h3>Election qualifications</h3>
        <ol>
          <li>
            <dl>
              <dt>The Chairman</dt>
              <dd>
                Well educated, Leadership skills and Good communication in English and Kiswahili,
                 over 25 years of age and Three years residence in UAE.
              </dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>The Vice-Chairman</dt>
              <dd>
                 Well educated, Leadership skills and Good communication in English and Kiswahili,
                 over 25 years of age and Three years residence in UAE.
              </dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt> The Secretary </dt>
              <dd>
                Well educated, Leadership skills and Good communication in English and Kiswahili,
                over 25 years of age and Three years residence in UAE.
               </dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>The Deputy Secretary</dt>
              <dd>
                Well educated, Leadership skills and Good communication in English and Kiswahili,
                 over 25 years of age and Three years residence in UAE.
                </dd>
            </dl>
          </li>
          <li>
            <dl>
              <dt>The  Treasurer</dt>
              <dd>
                Well educated, Good communication in English and Kiswahili, Finance backgorund would be an advantage.
                Over 25 years of age and Three years residence in UAE.
                </dd>
             
            </dl>
          </li>
          <li>
            <dl>
              <dt>The Deputy Treasurer</dt>
              <dd>
                Well educated, Good communication in English and Kiswahili, Finance backgorund would be an advantage.
                Over 25 years of age and Three years residence in UAE.
              </dd>
            </dl>
          </li>
        </ol> 
        <dl>
          <dt>Four standing committees of the of the Association namely:-
          </dt>
          <dd>
           Educated, Good communication in English and Kiswahili, Experience in related field would be an advantage. Three years or higher resident of UAE, over 20 years of age
           <ul>
            <li>Education, Cultural and Social Welfare Committee </li>
            <li>Finance and Planning Committee</li>
            <li>Publicity and Communication Committee</li>
            <li>Investment Committee
            </li>
          </ul>
          </dd>
        </dl>   
        <p>Please apply for the position interested. <a href="ObtainPassword">Click here</a></p>
   
    </div>
      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock content %}
