{% extends 'front_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>About membership</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Introduction to membership</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Contact Section ======= -->
 
  <section id="contact" class="contact">
    <div class="container">

      {% comment %} <div class="row justify-content-center" data-aos="fade-up">

        <div class="col-lg-10">

          <div class="info-wrap">
            <div class="row">
              <div class="col-lg-4 info">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street<br>New York, NY 535022</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com<br>contact@example.com</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 51<br>+1 5589 22475 14</p>
              </div>
            </div>
          </div>

        </div>

      </div> {% endcomment %}

      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="col-lg-10">
          <h3>About Membership</h3>
      <p> Inline with Community Development Authority (CDA) in UAE, the association will have members including, Tanzanian diasporas with valid residence permit in UAE, at least  two United Arab Emirates Nationals and at least one member from any other nationality who has valid residence permit in UAE.</p>
      <p>Any above CDA criteria and who is 18 years or above and agrees to abide with UAE Community Development Authority (CDA) regulations can be a member of our Association.</p>
      <p>Valid and active members will be those who have registered on our website and have valid membership ID.
      </p>
      <p> Active members will be called upon to participate actively in the affairs of the Association and will be entitled to one vote per member on all matters pertaining to the activities of the Association.
      </p>
      <p>To become a member, please click this link <a href="becomeMember">Become Member</a>
      </p>
      <p></p>
    </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock content %}
