{% extends 'front_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Log a complain (Cheated by agents)</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Log a complain</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Contact Section ======= -->
 
  <section id="contact" class="contact">
    <div class="container">

   

      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="col-lg-10">

          <form  method="POST" class="php-email-form">
            {% csrf_token %}
            <h3 class="mb-3">Fill your details</h3>
            {% include 'TAEApp/includes/messages.html' %}
            <div class="row mt-3">
              
             <div class="col-md-6 form-group">
                <label class="mb-2">Full Name</label>
                {% render_field form.FullName  class+="form-control"  %}

              </div>
              <div class="col-md-6 form-group">
                <label class="mb-2">Phone UAE</label>
                {% render_field form.PhoneUAE class+="form-control" id+="seeAnotherField" %}
              </div>
             <div class="col-md-6 form-group">
                <label class="mb-2">Phone TZ</label>
                {% render_field form.PhoneTZ  class+="form-control" id+="seeAnotherField" %}
              </div>
              <div class="col-md-6 form-group">
                <label class="mb-2">Address</label>
                {% render_field form.Address  class+="form-control"  %}
              </div>
            
              <div class="col-md-6 form-group">
                <label class="mb-2">Agent name/company</label>
                {% render_field form.AgentName  class+="form-control"  %}
              </div>
             <div class="col-md-6 form-group">
                <label class="mb-2">Agent Phone TZ</label>
                {% render_field form.AgentPhoneTZ  class+="form-control"  %}
              </div>
              <div class="col-md-6 form-group">
                <label class="mb-2">Agent Phone UAE</label>
                {% render_field form.AgentPhoneUAE  class+="form-control"  %}
              </div>
             <div class="col-md-6 form-group">
                <label class="mb-2">Service Type</label>
                {% render_field form.ServiceType  class+="form-control"  %}
              </div>
              <div class="col-md-6 form-group">
                <label class="mb-2">VisaType</label>
                {% render_field form.VisaType  class+="form-control"  %}
              </div>
              <div class="col-md-6 form-group">
                <label class="mb-2">Visa Status</label>
                {% render_field form.VisaStatus  class+="form-control"  %}
              </div>
              <div class="col-md-6 form-group">
                <label class="mb-2">Agent fee paid in Tanzania</label>
                {% render_field form.AmountPaidTZ  class+="form-control"  %}
              </div>
             
              <div class="col-md-6 form-group">
                <label class="mb-2">Agent fee paid in UAE</label>
                {% render_field form.AmountPaidUAE  class+="form-control"  %}
              </div>
              <div class="col-md-6 form-group">
                <label class="mb-2">Description</label>
                {% render_field form.Description  class+="form-control"  %}
              </div>
          
            <div class="my-3">
              <div class="loading">Loading</div>
           
            </div>
            <div class="text-left"><button type="submit">Submit</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock content %}
