{% extends 'front_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Leadership</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Leadership</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Contact Section ======= -->
 
  <section id="contact" class="contact">
    <div class="container">

      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="col-lg-10">
          <h3> Leadership </h3>
      <p> Tanzanian Association in Emirates leaders will constituent  of:</p>
        <ol>
          <li>
            <dl>
              <dt>Board of Trustee</dt>
              <dd>Board of trust will include 10 members, founding members of Tanzanian diasporas, Two UAE Nationals and one member of any other country
              </dd>
             
            </dl>
          </li>
          <li>
            <dl>
              <dt>Leaders of association</dt>
              <dd>
                There are ten positions for  leaders to be elected on election day.
                 Leaders of the association are the elected members of the association or 
                 interim member who temporary cover some position of the leaders for some reasons 
                 are not in the country anymore or in case of the resignation or any other unavoidable
                  reason that leave position free. List of the position required to elected by members 
                  of TAE are:
                  <ol>
                    <li>The Chairman</li>
                    <li>The Vice-Chairman</li>
                    <li>The Secretary </li>
                    <li>The Deputy Secretary</li>
                    <li>The  Treasurer</li>
                    <li>The Deputy Treasurer</li>
                    <li>Four standing committees of the of the Association namely:-
                      <ul>
                        <li>Education, Cultural and Social Welfare Committee</li>
                        <li>Budget and Finance Committee</li>
                        <li>Publicity Committee</li>
                        <li>Homeland investment committee
                        </li>
                      </ul>
                    </li>
                    
                  </ol> 
                  
              </dd>
             
            </dl>
          </li>
        </ol> 
          <p>Become a leader. <a href="ObtainPassword">Click here</a></p>
      
    </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock content %}
