{% extends 'front_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Obtain verification code</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Obtain verification code</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Contact Section ======= -->
 
  <section id="contact" class="contact">
    <div class="container">

      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="col-lg-10">
          <form  method="POST" class="php-email-form">
            {% csrf_token %}
            <h3 class="mb-3">Enter your TAE member ID</h3>
            {% include 'TAEApp/includes/messages.html' %}
            <div class="row mt-3">
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <label class="mb-2">MemberID</label>
                <input type="text" name="MemberID" class="form-control" id="exampleCheck1">
              </div>
            
            </div>

          
            <div class="form-group mt-3">
            
            <div class="text-left"><button type="submit">Submit</button></div>
          </form>
        </div>
        
      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock content %}
