{% extends 'front_base.html' %}
{% load static %}

{% block content %}
{% include 'TAEApp/front_includes/hero.html' %}

<main id="main">

  <!-- ======= About Us Section ======= -->
  <section id="about-us" class="about-us">
    <div class="container" data-aos="fade-up">
      <div class="section-title text-left">
        <h3>About us</h3>
        
      </div>
      <div class="row content">
        <div class="col-lg-12" >
          <p>The Tanzanian Community in the United Arab Emirates also known as TCAE is a SOCIAL AND CULTURAL ASSOSICIATION which is non-political and non-profit Association. The objective of the Association is to unify the efforts of Tanzanians residing in the United Arab Emirates in promoting and advancing, their social and cultural well being and welfare; to assist members in times of need, to advice investments models back home, and to promote social, cultural and educational, participation between and among the members of the Association.</p>
        </div>
        <div class="col-lg-12 pt-4 pt-lg-0" >
          <div class="section-title text-left">
            <h3>Kuhusu sisi</h3>
          </div>
          <p>
            Jumuiya ya Watanzania wanaoishi Emirates (JUWATA) ni chombo ambacho si cha kisiasa wala si cha biashara. Shabaha na madhumuni ya Jumuiya hii ni kuwaunganisha Watanzania wote wanaoishi kwenye Emirates ili kuendeleza na kulinda masla hi yao ya kijamii, kiuchumi na kiutamaduni lengo hasa likiwa ni kufahamiana, kusaidiana nyakati za dhiki na faraja na kukuza na kuendeleza shughuli za Elimu, Utamaduni na kuendeleza na kukuza mahusiano mazuri baina ya Watanzania waishio hapa na wenyeji wao Waimarati.
          </p>
        </div>
        <div class="col-lg-12 pt-4 mt-4 pt-lg-0" >
          <div class="section-title text-left">
            <h3>History</h3>
          </div>
          <p>Jumuiya yetu ilianzishwa mwaka 2006 wakati Balozi wa kwanza wa Tanzania hapa UAE akiwa mheshimiwa Mstaafu Mustafa Nyag’anyi.Jumuiya yetu ilianzishwa mwaka 2006 wakati Balozi wa kwanza wa Tanzania hapa UAE akiwa mheshimiwa Mstaafu Mustafa Nyag’anyi. Mwaka 2007 tuliandaa mkutano na kumualika Mheshimiwa Jakaya Mrisho Kikwete , Rais wa Awamu ya Nne. 2007 tulifanikiwa kupata usajili wa muda na bado tunatumia uasajili wa muda. December mwaka 2007 uchaguzi mkuu wa kwanza ulifanyika Dubai na ulijuisha wana diaspora wote wa UAE. Tuunganeni ili kufanikisha malengo ya jumuiya.</p>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->


  <!-- ======= Popular Courses Section ======= -->
  <section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">

      <div class="section-title text-left">
        <h3>News and Events</h3>
        <p><a class="text-dark" href="/">Read more</a></p>
      </div>

      <div class="row" data-aos="zoom-in" data-aos-delay="100">

          {% for record in News %}
          <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
            <div class="course-item">
              <img src="{{record.Photo.url}}" class="img-fluid" alt="...">
              <div class="course-content">
                <h5 class="text-dark">{{record.Title}}</h5>
                <p>{{record.Description1}}</p>
              
              </div>
            </div>
          </div> 
          {% endfor %}
     

       

      </div>

    </div>
  </section><!-- End Popular Courses Section -->
  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title text-left">
        <h3>Gallery</h3>
        <p><a class="text-dark" href="/">View more</a></p>
      </div>
      <div class="row portfolio-container" data-aos="fade-up">
        {% for Gallery in Galleries %}
       

        <div class="col-lg-4 col-md-6 portfolio-item ">
         <img src="{{Gallery.Photo.url}}" class="img-fluid" alt="">

       

             <a href="{{Gallery.Photo.url}}" class="portfolio-info portfolio-lightbox preview-link" data-gallery="portfolioGallery"><h4>Click to view full image </h4></a>
             
        
       </div>
    {% endfor %}
        
        <div class="col-lg-4 col-md-6 portfolio-item ">
          <img src="{% static 'front_assets/img/portfolio/tea4.jpeg' %}" class="img-fluid" alt="">
          <a class="portfolio-info portfolio-lightbox preview-link" data-gallery="portfolioGallery" href="{% static 'front_assets/img/portfolio/tea4.jpeg' %}">
            <h4>Click to view full image </h4>
          </a>
        </div>
       
      

      </div>

    </div>
  </section><!-- End Portfolio Section -->



</main><!-- End #main -->
{% endblock content %}
